<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>OAuth2 Client</h1>
    <a href="/oauth2/authorization/new-client">Login with New Client</a>
</body>
</html>


<div sec:authorize="isAnonymous()">
    <div class="box" onclick="redirectToBluebird()">
        <span>Bluebird Login</span>
    </div>
</div>

<div sec:authorize="isAuthenticated()">
    <div>Welcome</div>
    <a th:href="@{/logout}">Logout</a>
</div>
<script>
    function redirectToBluebird() {
        const width = 600;
        const height = 700;
        const left = (screen.width / 2) - (width / 2);
        const top = (screen.height / 2) - (height / 2);
        window.open('/oauth2/authorization/bluebird', '_blank', `width=${width},height=${height},top=${top},left=${left}`);
    }

    window.addEventListener('message', function(event) {
        if (event.data === 'loginSuccess') {
            window.location.reload();
        }
    });
</script>
</body>
</html>
